<h1>{{title}}</h1>
<form class="example-form">
	<mat-form-field>
		<input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
	</mat-form-field>	
</form>
<mat-form-field>
	<input matInput [matDatepicker]="picker" placeholder="Data Inicio" [(ngModel)]="data1">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>	
<mat-form-field>
	<input matInput [matDatepicker]="picker2" placeholder="Data Fim" [(ngModel)]="data2">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>	

<p>You selected: {{selected}}</p>
<p>Data Inicio: {{data1.toDateString()}}</p>
<p>Data Fim: {{data2.toDateString()}}</p>

<table mat-table [dataSource]="dados" class="mat-elevation-z8">
	<ng-container matColumnDef="placa">
	  <th mat-header-cell *matHeaderCellDef> Placa </th>
	  <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
	</ng-container>
	
	<ng-container matColumnDef="ponto">
	  <th mat-header-cell *matHeaderCellDef> Ponto </th>
	  <td mat-cell *matCellDef="let element"> {{element.ponto}} </td>
	</ng-container>
	
	<ng-container matColumnDef="tempo">
	  <th mat-header-cell *matHeaderCellDef> Tempo </th>
	  <td mat-cell *matCellDef="let element"> {{element.tempo}} </td>
	</ng-container>
	
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>